.gform_wrapper {
    background: #dbdbdb;
    margin-bottom: $grid-gutter;
    padding:$grid-gutter;
    .gform_body {

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                margin-bottom: $grid-gutter;
                clear: both;

                > label {
                    font-size: $grid-gutter*1.2;
                    margin-bottom: 5px;
                    display: block;
                }

                .ginput_complex {

                    span,{
                        position: relative;
                        width: 100%;
                        float: left;
                        margin-bottom: $grid-gutter;

                        @include breakpoint(small) {
                            width: 50%;
                        }

                        &:nth-child(2n+1) {
                            width: 100%;

                            @include breakpoint(small) {
                                width: 46%;
                                margin-right: 4%;
                            }
                        }

                        label {
                            color: grey;
                        }
                    }

                    select {
                        width: 100%;
                        float: left;

                        label {
                            color: grey;
                        }
                    }
                }
            }
        }

        input,
        textarea{
            width: 100%;
            padding: $grid-gutter;
            height: auto;
            border-radius: 3px;

            @include breakpoint(small) {
                padding: $grid-gutter/2;
            }
        }

        select {
            height: 42px;

            @include breakpoint(small) {
                height: 36px;
            }
        }
        .address {
            text-align: left;
        }
    }
    .gform_button {
        width: 100%;
        font-size: 17px;
        padding: $grid-gutter/2;
        background: $header_menu_background_hover;
        color: $header_menu_text_hover;
        border-radius: 3px;

        @include breakpoint(small) {
            width: auto;
        }

    }
}
