// ==========================================================================
// All menus pull in the buttons seperatly using the options/buttons.scss
// ==========================================================================

// ==========================================================================
//Header menu
// ==========================================================================
.nav-header {
  @extend .header-menu-buttons;
}

// ==========================================================================
//Footer menu
// ==========================================================================
.nav-footer {
  @extend .footer-menu-buttons;
}

// ==========================================================================
//Slideout mobile menu
// ==========================================================================
.mobile-menu{
  background: $mobile_menubackground;
  @extend .mobile-menu-buttons;
}

// ==========================================================================
// hamburger menu icon
// If you need to customise this more open up menu-animations.scss and do a search for hamburger
// ==========================================================================
.hamburger {
	margin: $grid-gutter*2 0;
  position: relative;
  float: right;
  z-index: 1000;

  span,
  span:before,
  span:after {
  	background-color: white;
  }
}
