//These can be used mainly on actual divs to set the spacing
.island {
  padding-top: $grid-gutter*2;
  padding-bottom: $grid-gutter*2;
  overflow: hidden;
}

.island-top {
  padding-top: $grid-gutter*2;
  padding-bottom: 0;
  overflow: hidden;
}

.island-bottom {
  padding-top: 0;
  padding-bottom: $grid-gutter*2;
  overflow: hidden;
}

.island-half {
  padding-top: $grid-gutter;
  padding-bottom: $grid-gutter;
  overflow: hidden;
}

// ==========================================================================
// ------ sets the break points example usage copy and paste example below-------- //
// .sidebar {
//   mobile_styling
//   @include breakpoint(small) {
//     tablet_styling
//   }
//   @include breakpoint(medium) {
//     desktop_styling
//   }
//   @include breakpoint(large) {
//     hd_styling
//   }
// }
// ==========================================================================

@mixin breakpoint($point) {
  @if $point == small {
    @media (min-width: $breakpoint-tablet)  { @content; }
  }
  @else if $point == medium {
    @media (min-width: $breakpoint-desktop) { @content; }
  }
  @else if $point == large {
    @media (min-width: $breakpoint-hd) { @content; }
  }
}
