//These can be used mainly on actual divs to set the spacing
.island {
    padding-top: $grid-gutter*2;
    padding-bottom: $grid-gutter*2;
}

.island-top {
    padding-top: $grid-gutter*2;
    padding-bottom: 0;
}

.island-bottom {
    padding-top: 0;
    padding-bottom: $grid-gutter*2;
}

.island-half {
    padding-top: $grid-gutter;
    padding-bottom: $grid-gutter;
}

.island-bottom-half {
    padding-top: 0;
    padding-bottom: $grid-gutter;
}

//these use margin rather then padding
.island-margin {
    margin-top: $grid-gutter*2;
    margin-bottom: $grid-gutter*2;
}

.island-top-margin {
    margin-top: $grid-gutter*2;
    padding-bottom: 0;
}

.island-bottom-margin {
    margin-top: 0;
    margin-bottom: $grid-gutter*2;
}

.island-half-margin {
    margin-top: $grid-gutter;
    margin-bottom: $grid-gutter;
}

.island-bottom-half-margin {
    margin-bottom: $grid-gutter;
}

.island-dark {
    background: #b2b0b1;
}

.island-white {
    background: lightgrey;
}

.text-light {
    color: $text-light;
}

.text-dark {
    color: $text-dark;
}

.full-width {
    width: 100%;
}

// ==========================================================================
// ------ sets the break points example usage copy and paste example below-------- //
// .sidebar {
//   mobile_styling
//   @include breakpoint(small) {
//     tablet_styling
//   }
//   @include breakpoint(medium) {
//     desktop_styling
//   }
//   @include breakpoint(large) {
//     hd_styling
//   }
// }
// ==========================================================================

@mixin breakpoint($point) {

    @if $point == small {
        @media (min-width: $breakpoint-tablet)  { @content; }
    }

    @else if $point == medium {
        @media (min-width: $breakpoint-desktop) { @content; }
    }

    @else if $point == large {
        @media (min-width: $breakpoint-hd) { @content; }
    }
}
