// ==========================================================================
//
// Card layouts
//
// ==========================================================================
.card {
    
    
    &:not(.card--flush) {
        padding: $grid-gutter;    
    }
    
    .card-title {
        font-weight: $font-700;
    
        &:after {
            display: block;
            content: ' ';
            width: 20%;
            margin: $grid-gutter 0;
            border-bottom: 4px solid $pcolor;
        }
    }
    
    .card-ref {
        font-weight: $font-700;
    
        &:before {
            display: block;
            content: ' ';
            width: 10%;
            margin: $grid-gutter 0;
            border-bottom: 4px solid $pcolor;
        }
    }
    
}

.card-by-5 {
    @media (min-width: $breakpoint-desktop) {
        width: 20%;
    }
}
