// ==========================================================================
// Typo Globals
// ==========================================================================
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
}

// ==========================================================================
//Vertical Listings
// ==========================================================================
.vert-listings {
  @extend .flex;

  @at-root {

    .listing-wrapper {
      @extend .flex;
      @extend .flex-row;
      @extend .flex-wrap;
      margin-left: -$grid-gutter;
      margin-right: -$grid-gutter;
    }
  }

  a {
    text-decoration: none;
  }

  .listing {
    overflow: hidden;
    margin-bottom: $grid-gutter*2
  }

  .listing-inner {
    background: #DDDDDD;
    border: solid 1px #BFBFBF;
    border-bottom: solid 1px #A9A5A5;
  }

  .listing-image {
  }

  .listing-text {
    padding: $grid-gutter;
    display: block;
  }
}

// ==========================================================================
//Horizontal Listings
// ==========================================================================
.hoz-listings {
  @extend .flex;

  @at-root {
    .listing-wrapper {
      @extend .flex;
      @extend .flex-row;
      @extend .flex-wrap;
      margin-left: -$grid-gutter;
      margin-right: -$grid-gutter;
    }
  }

  a {
    text-decoration: none;
  }

  .listing {
    overflow: hidden;
    margin-bottom: $grid-gutter*2
  }

  .listing-inner {
    background: #DDDDDD;
    border: solid 1px #BFBFBF;
    border-bottom: solid 1px #A9A5A5;
  }

  .listing-image {
    float: left;
    width: 100%;

    @include breakpoint(medium) {
      width: 50%;
    }
  }

  .listing-text {
    padding: $grid-gutter;
    display: block;
    float: left;
    width: 100%;

    @include breakpoint(medium) {
      width: 50%;
    }
  }
}
