// ==========================================================================
// Typo Globals
// ==========================================================================
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
}

// ==========================================================================
//Vertical Listings
// ==========================================================================
.vert-listings {

    a {
        text-decoration: none;
    }

    .listing {
        overflow: hidden;
        margin-bottom: $grid-gutter*2
    }

    .listing-inner {
        background: #DDDDDD;
        border: solid 1px #BFBFBF;
        border-bottom: solid 1px #A9A5A5;
        overflow: hidden;
    }

    .listing-image {

        img {
            width: 100%;
            height: auto;
        }
    }

    .listing-text {
        padding: $grid-gutter;
        display: block;
    }
}

// ==========================================================================
//Horizontal Listings
// ==========================================================================
.hoz-listings {

    a {
        text-decoration: none;
    }

    .listing {
        overflow: hidden;
        margin-bottom: $grid-gutter*2
    }

    .listing-inner {
        background: #DDDDDD;
        border: solid 1px #BFBFBF;
        border-bottom: solid 1px #A9A5A5;
        overflow: hidden;
    }

    .listing-image {
        overflow: hidden;
    }

    .listing-text {
        padding: $grid-gutter;
    }

    .absolute-image img{
        position: absolute;
        height: 100%;
        max-width: none;
        width: auto;
    }
}

// ==========================================================================
// Pagination
// ==========================================================================
.navigation.pagination {
    .page-numbers {
        @extend .list-inline;
    }
}



// ==========================================================================
// Flex Helpers
// ==========================================================================
.vertical-center {
    display: flex;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
