// ==========================================================================
//These need to be the same color for the mobile menus to work
// Use container-full to remove all padding on left and right
// remove to make full width or extend on page basis ie body.front etc
// ==========================================================================
.main-container {
    @extend .container;
}
.main-container--flush {
    @extend .container-full;
    width: 100%;
}

.wrap.container {
    background: white;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}


// ==========================================================================
//Layout settings
// ==========================================================================
main {
    @extend .col-12;

    &.main--flush {
        padding-left: 0;
        padding-right: 0;
    }
    &:not(.main--flush) {
        margin-top: $grid-gutter*3;
        margin-bottom: $grid-gutter*3;
    }

}
.sidebar {
    @extend .col-12;
    margin-top: $grid-gutter*3;
    margin-bottom: $grid-gutter*3;
}

body.sidebar-primary {

    .sidebar {

        @extend .col-12;

        @extend .col-4-tablet;

        @extend .col-3-desktop;

        @extend .col-3-hd;

    }

    main {

        @extend .col-12;

        @extend .col-8-tablet;

        @extend .col-9-desktop;

        @extend .col-9-hd;

    }
}


body {

    &:after {
        display: none;

        content: "mobile";
    }

    @media (min-width: $breakpoint-tablet) {
        &:after {
            content: "tablet";
        }
    }
    @media (min-width: $breakpoint-desktop) {
        &:after {
            content: "desktop";
        }
    }
    @media (min-width: $breakpoint-hd) {
        &:after {
            content: "wide";
        }
    }

}
