// ==========================================================================
//
// Custom Headings for the Site
//
// ==========================================================================
// ==========================================================================
// Base – Blockquote
// ==========================================================================
blockquote,
.blockquote {
    font-style: normal;
    
    margin-top: $grid-gutter;
    margin-bottom: $grid-gutter;
    
    p {    
        margin-top: $grid-gutter;
        margin-bottom: $grid-gutter;
        
        //ensure fullwidth quotes dont span to far
        @media (min-width: $breakpoint-desktop) {
            max-width: 80%;
        }
    }
    
    cite {
    
    }
    
}
// ==========================================================================
// Branded rules
// ==========================================================================
.brand-title {    
    font-weight: 800;        
}
.brand-title__part {            
    font-weight: 400;    
}
.brand-subtitle {
    color: $brand-light-grey;
    font-weight: 400;        
}


// ==========================================================================
// Branded Colour helpers
// ==========================================================================
.brand-color--primary {
    color: $pcolor;
}
.brand-color--secondary {
    color: $scolor;
}

.brand-color--white {
    color: #FFFFFF; 
}
.brand-color--light {
    color: $brand-light-grey; 
}
.brand-color--dark {
    color: $brand-dark-grey; 
}
.brand-color--dark-grey-blue {
    color: $brand-dark-grey-blue; 
}


// ==========================================================================
// Spacer helpers
// ==========================================================================
hr,.hr {
    
    &.brand-color--dark-grey-blue {
        background: $brand-dark-grey-blue;
    }
    &.brand-color--light-grey {
        background: $brand-light-grey;
    }
    &.brand-color--primary {
        background: $pcolor;
    }
    
    height: 4px;
    &.narrow {
        height: 1px;
    }
        
        
    &.shorten {
        width: 80px;
    }
    
    &.spaced {
        margin-top: $grid-gutter *2;
        margin-bottom: $grid-gutter *2;
    }    
    &.tight {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    &.left {
        margin-left: 0;
    }
    
}





// ==========================================================================
// Icon title
// ==========================================================================
.icon-title {
    
    //the icon
    &:before {
        @include font-size($h1-font-size);
        @extend .brand-color--primary;
        
        margin-bottom: $grid-gutter;
    }
    
    @include font-size($h4-font-size);
    font-weight: $font-700;
    
}


.bubble-icon {
    
    &:before {
        
        display: inline-block;
        
        padding: $grid-gutter * 3;
        
        border: 6px solid #ccc;
        background: #FFFFFF;
                                
        border-radius: 50%;
        box-shadow: 0px 0px 2px #888;
        
    }
    
}