// ==========================================================================
//
// WordPress Generated Classes
//
// Description: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
//
// ==========================================================================

// ==========================================================================
// Image Alignment
// ==========================================================================

main.main {
    img {
        @extend .img-fluid;
        height: auto;
    }
}

.alignnone,
.aligncenter {
    @extend .img-fluid;
    height: auto;
}


.alignleft,
.alignright {
    @extend .img-fluid;
    height: auto;
	margin-bottom: $grid-gutter;
}
// Only float if not on an extra small device
.alignleft {
    
    @media only screen and (min-width: $breakpoint-tablet) {
        
        float: left;
        margin-right: 20px;
        
    }
    
}

.alignright {
        
    @media only screen and (min-width: $breakpoint-tablet) {
            
        float: right;
        margin-left: 20px;
        
    }
    
}

// ==========================================================================
// Captions
// ==========================================================================

.wp-caption {
    .wp-caption-text {
	    @extend pre;
    }
}
	
// ==========================================================================
// Screen Reader
// ==========================================================================

.screen-reader-text {
	@extend .sr;
}