// ==========================================================================
//Main header banner
// ==========================================================================
header.banner {
    position: relative;
    z-index: 99; //This sets the header above overlay for mobile devices
    background: $headerbackground;
    overflow: hidden;

    .banner__inner {

        @extend .flex;
        align-items: center;

        .site-logo {
            display: block;
            float: left;
            margin: $grid-gutter 0;
        }
    }
}
