// ==========================================================================
//Main header banner
// ==========================================================================
header.banner {

    background: $headerbackground;
    overflow: hidden;
    position: relative;
    z-index: 100;

    .container {

        @extend .flex;
        align-items: center;

        .site-logo {
            display: block;
            float: left;
            margin: $grid-gutter 0;
        }
    }
}
