// ==========================================================================
//Footer Styling
// ==========================================================================
footer.footer {
    background: $footer-background;
    color: $footer-background-text-color;
    clear: both;
    overflow: hidden;
    a {
        color: $footer_menu_text_color;
        &:hover {
            color: $footer_menu_text_hover;
        }
    }
}

// ==========================================================================
//Sub footer Styling copyright etc
// ==========================================================================
//Footer buttons and menus can be found in options/buttons and options/menus
.sub-footer {
    background: $sub-footer-background;
    color: white;
}

// ==========================================================================
//   Address
// ==========================================================================

.address {
      text-align: center;

       @media (min-width: $breakpoint-tablet) {
          text-align: left;
      }
}

// ==========================================================================
//  Social Icons in footer
// ==========================================================================
footer .social {
    text-align: center;
    margin-top: $grid-gutter;

    @media (min-width: $breakpoint-tablet) {
        margin-top: -$grid-gutter/3;
        float: right;
        text-align: right;
    }

    li {
        padding: $grid-gutter/3;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        display: block;
        color: $footer-background-text-color;
        transition: color 0.3s;

        &:hover {
            color: $footer_menu_background_hover;
            transition: color 0.3s ease;
        }
    }
}

// ==========================================================================
//  Footer Menu
// ==========================================================================
.nav-footer {
    display: block;
    text-align: center;
    
    @media (min-width: $breakpoint-tablet) {
        text-align: left;
    }
}
