// ==========================================================================
//Footer Styling
// ==========================================================================
footer.footer {
  background: #282828;
  clear: both;
  overflow: hidden;
}

.sub-footer {
  background: lightgrey;
}
